<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nazi.practice">
    //For internet permission
    <uses-permission android:name="android.permission.INTERNET" />
    //For SD permission
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Examples.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Examples.Login" />
        <activity android:name=".Examples.Register" />
        <activity
            android:name=".Examples.GridViewDemo"
            android:label="Grid View Demo" />
        <activity
            android:name=".ListViewDemo.MiWokActivity"
            android:label="List View Demo" />
        <activity
            android:name=".Earthquake.EarthQuakeActivity"
            android:label="Earthquake" />
        <activity
            android:name=".Soonami.Tsunami"
            android:label="Tsunami App" />
        <activity
            android:name=".Examples.FragmentMainActivity"
            android:label="Fragments" />
        <activity android:name=".Examples.AsyncTaskEx" />
        <activity
            android:name=".Examples.ALertDialogDemo"
            android:label="Alert Dialog Box" />
        <activity
            android:name=".Examples.SpinnerDemo"
            android:label="Spinner" />
        <activity
            android:name=".DataStorage.Main2Activity"
            android:label="Sqlite App"></activity>
        <activity android:name=".PetsApp.CatalogActivity" />
        <activity
            android:name=".PetsApp.EditorActivity"
            android:label="@string/editor_activity_title_new_pet"
            android:parentActivityName=".PetsApp.CatalogActivity"
            android:theme="@style/EditorTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PetsApp.CatalogActivity" />
        </activity>
        <activity android:name=".Examples.TabMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Examples.RecyclerViewDemo"
            android:label="@string/title_activity_recycler_view_demo"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>